body{
    background-color: #1a5c85;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    
}
#calculator {
    
    border: 1px solid black;
    padding: 20px;
    width: 350px;
    height:400px;
    margin: auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: xxxlarge;
    background-color: #154B52;

    
    
}
input {
    width: 50px;
    height: 50px;
    background-color: #d2e591;
    font-size: xxlarger;
}
#display{
    width: 200px;
    height: 50px;
    background-color: #d2e591;
}
.raw{
    margin: 0;

}

  